.primary {
  text-align: center;
  text-decoration: none;
  padding: 0.25rem 0.9rem;
  height: 34px;
  border-radius: 5px;
  background: var(--green);
  font-size: 0.8rem;
  color: var(--white);
  border: 0.2rem solid transparent;
  cursor: pointer;
  transition: color 0.2s ease-out 0s, background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
}

.primary:hover {
  background: var(--green-light);
}