* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 1rem;

  --white: #fff;

  --gray-extra-light: #E6EAF6;
  --gray-light: #8798AD;
  --gray-neutral: #274264;

  --green: #21D170;
  --green-light: #13e973;
}

body {
  background: var(--white);
  margin: 0;
  padding: 3rem 2rem 0;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .headerPage {
      display: flex;
      width: 982px;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem 2.5rem;
  
      .titlePage {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: var(--gray-neutral)
      }
  
      .labelLocation {
        display: flex;
        align-items: center;
        font-size: 0.975rem;
        color: var(--gray-light)
      }
    }

    .content {
      display: flex;
      max-width: 1032px;

      .listCard {
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        list-style: none;
    
        .itemCard {
          position: relative;
          flex: 1 1 0%;
          min-width: 260px;
          max-width: 314px;
          min-height: 316px;
          border: 1px solid var(--gray-extra-light);
          border-radius: 6px;
          margin: 0px 15px 30px;
          transition: box-shadow 0.2s ease-out 0s, border-color 0.2s ease-out 0s;
          cursor: pointer;
        }
    
        .itemCard:hover {
          box-shadow: rgb(15 50 35 / 8%) 0px 10px 30px;
          border-color: var(--green);
        }
      }
    }

    .plusCards {
      display: flex;
      width: 1002px;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.75rem 1rem;

      .outlineGreen {
        margin: 0;
        padding: 1rem 1.5rem;
        height: 50px;
        border: 1px solid var(--gray-extra-light);
        border-radius: 5px;
        background: var(--white);
        font-size: 1rem;
        color: var(--green);
        cursor: pointer;
      }

      .outlineGreen:hover {
        border: 1px solid var(--green);
      }
    }

  }
}

body, button, p {
  font: 400 1rem Rubik, sans-serif;
  color: var(--gray-neutral);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Rubik, sans-serif;
  color: var(--gray-neutral);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;

    .container {

      .headerPage {
        width: 90% !important;
      }
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;

    .container {
      .headerPage {
        width: 94% !important;
        
        .titlePage {
          font-size: 1.25rem;
        }

        .labelLocation {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;

    .container {
      .headerPage {
        width: 92% !important;
      }
    }
  }
}