.cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 20px;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid rgb(230, 234, 246);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.9rem;
  color: var(--gray-light);
  text-transform: uppercase;
}

.cardContent {
  padding: 24px;

  .cardBody  {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 106px;
    margin-bottom: 1.5rem;
  
    .cardDescription{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
  
      .textDescription {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: var(--gray-neutral);
      }
  
      img {
        display: flex;
        height: 25px;
      }
    }

    .textProject {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      .linkProject {
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2rem;
        color: var(--green);
      }

      .linkProject:hover {
        font-weight: 500;
        color: var(--green-light);
      }
    }
  }
  
  .cardLinks {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .labelItems {
      display: flex;
      flex-direction: row;
      align-items: center;

      .amountItem{
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        color: var(--gray-neutral);
        margin-right: 0.25rem;
      }

      .textItem {
        display: flex;
        align-items: center;
        width: 50%;
        font-size: 0.55rem;
        color: var(--gray-light);
        text-transform: uppercase;
      }
    }
  }
}

.cardFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgb(230, 234, 246);
  
  .textFooter {
    display: flex;
    align-items: center;
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: var(--gray-light);
  }
}